In [1]:
import pandas as pd
import numpy as np
import scipy.stats as pearsonr
import matplotlib.pyplot as plt
import seaborn as sns

df_titanic = pd.read_csv("titanic.csv")
df_tit = pd.read_csv("titanic_modified.csv")
df_car = pd.read_csv("car_crashes.csv", sep = "|")

In [2]:
df_car.head()

,Unnamed: 0,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [3]:
from tool_box import describe_df, tipifica_variables, get_features_num_regression, plot_features_num_regression

In [4]:
describe_df(df_car)

,Unnamed: 0,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
DATA_TYPE,int64,float64,float64,float64,float64,float64,float64,float64,object
MISSINGS (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UNIQUE_VALUES,51,45,50,50,50,50,51,51,51
CARDIN (%),100.0,88.24,98.04,98.04,98.04,98.04,100.0,100.0,100.0

In [5]:
tipifica_variables(df_car)

                        Categoria
Unnamed: 0      Numérica continua
total           Numérica continua
speeding        Numérica continua
alcohol         Numérica continua
not_distracted  Numérica continua
no_previous     Numérica continua
ins_premium     Numérica continua
ins_losses      Numérica continua
abbrev          Numérica continua

In [6]:
get_features_num_regression(df_car, 'total', 0.5)

TypeError: 'module' object is not callable

In [ ]:
tabla = df_tit.drop('total', axis=1)
for col in tabla.columns:
    if dataframe[col].dtype != 'object' or dataframe[col].dtype != 'bool':
        corrs = pearsonr(dataframe[target_col], dataframe[col])

In [14]:
tabla = df_car.drop('total', axis=1)
tabla
for col in tabla.columns:
    if tabla[col].dtype != 'object' or tabla[col].dtype != 'bool':
       corr = pearsonr(df_car["total"], df_car[col])
       print(corr)

TypeError: 'module' object is not callable

In [18]:
import scipy.stats as pearsonr
pearsonr(df_car["total"], df_car["speeding"])

TypeError: 'module' object is not callable

In [24]:
df_car[["total","speeding"]].corr()

             total  speeding
total     1.000000  0.611548
speeding  0.611548  1.000000

In [25]:
pearsonr(df_car['total'], df_car['speeding'])

TypeError: 'module' object is not callable